.workList .thumbnail {
  cursor: pointer;
}
.habitat {
  width: 400px;
  height: 400px;
  background: #eee;
  border: 1px solid #888;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.blockRed,
.blockBlue {
  position: absolute;
  margin: auto;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.blockRed {
  background: red;
}
.blockBlue {
  background: blue;
}
.toggleMenu {
  border: 1px solid #999;
  position: fixed;
  transition: ease-in 0.5s;
  width: 200px;
  height: 150px;
}
.toggleMenu button {
  width: 70px;
  height: 30px;
  position: absolute;
  border: 1px solid #999;
}
.toggleMenu-left {
  left: 0;
}
.toggleMenu-left button {
  right: -70px;
  top: -1px;
}
.toggleMenu-right {
  right: 0;
}
.toggleMenu-right button {
  left: -70px;
  top: -1px;
}
.toggleMenu-top button {
  top: -30px;
  right: -1px;
}
.toggleMenu-bottom {
  bottom: 0;
}
.toggleMenu-bottom button {
  top: -30px;
  left: -1px;
}
