<div>
    <breadcrumbs-dir options="breadcrumbsOptions"></breadcrumbs-dir>
    <hr>
    <div class="workList">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" ng-click="goToPage('squareAnimate')">
                    <img src="http://lorempixel.com/250/200/" alt="lorem">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid
                            aspernatur consectetur, dolor excepturi expedita incidunt non obcaecati praesentium quae
                            quos rerum suscipit? Accusamus dicta eveniet nostrum sunt veritatis!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
