<breadcrumbs-dir options="breadcrumbsOptions"></breadcrumbs-dir>

<div class="toggleMenu toggleMenu-left visiBle">
    <button class="button">clickMe</button>
    <div class="infoMenu">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci cum eligendi esse facilis nam numquam officiis
            placeat sequi vel voluptatibus!
        </p>
    </div>
</div>

<div class="toggleMenu toggleMenu-right visiBle">
    <button class="button">clickMe</button>
    <div class="infoMenu">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci cum eligendi esse facilis nam numquam officiis
            placeat sequi vel voluptatibus!
        </p>
    </div>
</div>

<div class="toggleMenu toggleMenu-bottom visiBle">
    <button class="button">clickMe</button>
    <div class="infoMenu">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Adipisci cum eligendi esse facilis nam numquam officiis
            placeat sequi vel voluptatibus!
        </p>
    </div>
</div>