@toggleMenuButtonSizeWidth: 70px;
@toggleMenuButtonSizeHeight: 30px;

.toggleMenu {
  border: 1px solid #999;
  position: fixed;
  transition: ease-in .5s;
  width: 200px;
  height: 150px;
  button {
    width: @toggleMenuButtonSizeWidth;
    height: @toggleMenuButtonSizeHeight;
    position: absolute;
    border: 1px solid #999;
  }
}

.toggleMenu-left {
  left: 0;
  button {
    right: -@toggleMenuButtonSizeWidth;
    top: -1px;
  }
}

.toggleMenu-right {
  right: 0;
  button {
    left: -@toggleMenuButtonSizeWidth;
    top: -1px;
  }
}

.toggleMenu-top {
  button {
    top: -@toggleMenuButtonSizeHeight;
    right: -1px;
  }
}

.toggleMenu-bottom {
  bottom: 0;
  button {
    top: -@toggleMenuButtonSizeHeight;
    left: -1px;
  }
}

.laptop {
  background: url('../../../assets/img/laptop.png') no-repeat;
  background-size: 100% 100%;
  height: 600px;
  position: relative;
  .btnChangePosition {
    width: 65px;
    height: 65px;
    background: #888;
    border: 1px solid #333;
    box-shadow: 0 0 1px #888;
    position: absolute;
  }
  .btnChangePosition-left {
    left: 58px;
    top: 80px;
  }
  .btnChangePosition-right {
    right: 58px;
    top: 80px;
  }
  .btnChangePosition-bottom {
    bottom: 179px;
    left: 140px
  }
}